.containers {
    padding: 80px;
}

.table{
  
    padding: 20px;
}

.table input.matrix-item{
    margin: 0;
    width: 64px;
    height: 64px;
    padding: 0;
    line-height: 30px;
    font-size: 30px;
    color: #616161;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;

}

.title{
    margin: 0;
    padding: 16px ;
}

.form-control input{
   
    background-color: rgba(0, 0, 0, 0.1);
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 0 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.btn {
    height: 40px;
    padding: 0 12px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.btn-blue{
    color: #fff;
    background-color: rgb(63, 129, 134);
    
}

.btn-blue:hover, .btn-red:hover {
background-color: aqua;
}

.btn-red{
    color: floralwhite;
    background-color: rgb(255, 0, 0);
}

.table .table-row{
    margin-bottom: 3px;
}

